#Define rewriting
Options +FollowSymLinks
#Options FollowSymLinks MultiViews

#Avoid folder list display: send 401 HTTP code
Options -Indexes

#Hide Apache informations
ServerSignature Off

#Hide PHP version
#php_value expose_php 0

#Include/Require url not allowed
#php_value allow_url_include 0

#-----------------------------------------------------------------------------

#Active rewrite engine: LoadModule rewrite_module modules/mod_rewrite.so
RewriteEngine on
RewriteBase /

#Server security
RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK|OPTIONS|HEAD|CONNECT)
RewriteRule .* - [F]

#Use HTTP Strict Transport Security to force client to use secure connections only
#Header always set Strict-Transport-Security "max-age=300; includeSubDomains; preload"

#Forbid bad user agent
RewriteCond %{HTTP_USER_AGENT} ^libwww [NC]
RewriteRule .* https://%{REMOTE_ADDR} [R=301,L]

#Redirect www URL to non www URL secured
#RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
#RewriteRule .* https://%1%{REQUEST_URI} [R=301,L]

#Redirect http to https
#RewriteCond %{HTTPS} off
#RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

#-----------------------------------------------------------------------------

#Set charset
AddDefaultCharset UTF-8

#-----------------------------------------------------------------------------
# Deflate cache
#-----------------------------------------------------------------------------

#Extension deflate
AddEncoding deflate .deflate

#Redirect to cache deflate file if exists
#RewriteCond %{HTTP:Accept-Encoding} deflate
#RewriteCond %{DOCUMENT_ROOT}/_cache/page%{REQUEST_URI}.html.deflate -f
#RewriteRule ^([^\?,]+) _cache/page/$1.html.deflate [L]

#Redirect to cache html file if exists
#RewriteCond %{DOCUMENT_ROOT}/_cache/page%{REQUEST_URI}.html -f
#RewriteRule ^([^\?,]+) _cache/page/$1.html [L,NC]

#-----------------------------------------------------------------------------
# Rewrite rules
#-----------------------------------------------------------------------------

#Example
#RewriteRule ^aide$ help [L]
#RewriteRule ^a-propos$ about [L]

#-----------------------------------------------------------------------------
# PHP
#-----------------------------------------------------------------------------

#Redirect default requests to index.php. The response format is JSON by default
#Request format expected: [/<path>]/<class>/action[?<key>=<value>[&<key>=<value>]]
RewriteRule ^[^_,\.]+(,([a-z]+)(\?.*)?)?$ index.php [L,NC]